@import "@lesomnus/cxz-ui/styles.css";
:root {
  --shade-0: var(--ui-shade-0);
  --shade-16: var(--ui-shade-16);
  --shade-17: var(--ui-shade-17);
  --shade-20: var(--ui-shade-20);
  --shade-22: var(--ui-shade-22);
  --shade-24: var(--ui-shade-24);
  --shade-25: var(--ui-shade-25);
  --shade-27: var(--ui-shade-27);
  --shade-28: var(--ui-shade-28);
  --shade-32: var(--ui-shade-32);
  --shade-34: var(--ui-shade-34);
  --shade-36: var(--ui-shade-36);
  --shade-38: var(--ui-shade-38);
  --shade-40: var(--ui-shade-40);
  --shade-41: var(--ui-shade-41);
  --shade-43: var(--ui-shade-43);
  --shade-44: var(--ui-shade-44);
  --shade-48: var(--ui-shade-48);
  --shade-51: var(--ui-shade-51);
  --shade-54: var(--ui-shade-54);
  --shade-56: var(--ui-shade-56);
  --shade-58: var(--ui-shade-58);
  --shade-60: var(--ui-shade-60);
  --shade-65: var(--ui-shade-65);
  --shade-72: var(--ui-shade-72);
  --shade-115: var(--ui-shade-115);
  --shade-119: var(--ui-shade-119);
  --shade-122: var(--ui-shade-122);
  --shade-136: var(--ui-shade-136);
  --shade-140: var(--ui-shade-140);
  --shade-144: var(--ui-shade-144);
  --shade-160: var(--ui-shade-160);
  --shade-170: var(--ui-shade-170);
  --shade-181: var(--ui-shade-181);
  --shade-204: var(--ui-shade-204);
  --shade-221: var(--ui-shade-221);
  --shade-237: var(--ui-shade-237);
  --shade-255: var(--ui-shade-255);
}
:root[data-theme="light"] {
  color-scheme: light;
}
